:root {
  --outer-space: #33393f;
  --bright-turquoise: #2aefcb;
  --gin: #e0eae4;
  --heliotrope: #e866ec;
}

header {
  background-color: var(--outer-space);
  height: 150px;
  padding: 20px;
}

header h1 {
  color: var(--heliotrope);
  font-size: 48px;
  text-align: center;
}

header p {
  color: var(--gin);
  font-size: 16px;
  margin: 10px auto;
  text-align: center;
}

main {
  background-color: var(--outer-space);
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 2px dotted var(--gin);
  margin: 40px 20px;
  color: var(--heliotrope);
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.card h2 {
  font-size: 24px;
  border: 2px solid var(--gin);
  border-radius: 10px;
  padding: 15px;
  position: relative;
  margin-top: -40px;
  z-index: 1;
  background-color: var(--outer-space);
  transition: all 0.5s ease-in-out;
}

.card p {
  margin: 20px 0;
  height: 40px;
}

.card pre {
  background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
  color: var(--gin);
  line-height: 1.5;
  height: 250px;
  overflow-x: auto;
}

.code {
  -webkit-user-select: all;
  user-select: all;
}

.card:hover,
.card:hover h2 {
  box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1),
    0 0 15px rgba(232, 102, 236, 1);
}

footer {
  background-color: var(--outer-space);
  color: var(--heliotrope);
  text-align: center;
  height: 75px;
  padding: 20px;
}

h3 {
  font-size: 24px;
}

#heart {
  color: red;
}

@media (max-width: 992px) {
  .card {
    min-width: 40%;
    margin: 20px 20px 40px 20px;
  }
  main {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    margin: 20px 0;
  }
  main {
    padding: 20px;
  }
}

/* .linear-gradient-background {
  background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
} */
